<div id="sidebar">
    <ul class="side-nav accordion_mnu collapsible">
        <li><a href="index.html"><span class="white-icons computer_imac"></span> Dashboard</a></li>
        <li><a href="#"><span class="white-icons list"></span> Forms</a>
            <ul class="acitem">
                <li><a href="form-elements.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>All Form Elements</a></li>
                <li><a href="extendable-forms.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Extendable Form</a></li>
                <li><a href="form-stepy.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Stepy Forms</a></li>
                <li><a href="form-validation.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Form Validation</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="white-icons cup"></span> Features</a>
            <ul class="acitem">
                <li><a href="typography.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Typography</a></li>
                <li><a href="widgets.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Widgets</a></li>
                <li><a href="grid.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Grid</a></li>
                <li><a href="button-icons.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Buttons &amp; Icons</a></li>
                <li><a href="ui-elements.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>All UI Elements</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="white-icons shuffle"></span> Others</a>
            <ul class="acitem">
                <li><a href="table.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Data Table</a></li>
                <li><a href="chart.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Chart and Graph</a></li>
                <li><a href="file-explorer.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>File Manager</a></li>
                <li><a href="calendar.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Full Calendar</a></li>
                <li><a href="colorbox.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Colorbox</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="white-icons documents"></span> Pages</a>
            <ul class="acitem">
                <li><a href="inbox.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Message Box</a></li>
                <li><a href="content.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Content Post</a></li>
                <li><a href="login.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Login Page</a></li>
                <li><a href="login2.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Another Login Page</a></li>
                <li><a href="forgot-pass.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Forgot Password Page</a></li>
                <li><a href="error.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Error Page</a></li>
                <li><a href="another-error-page.html"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Another Error Page</a></li>
            </ul>
        </li>
    </ul>
</div>